.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-row > button {
  border-radius: 5px;
  border-style: solid;
  border-color: #ea4335;
  background: none;
  width: 12vh;
  height: 5vh;
  margin: 5px;
  font-size: 2vh;
  color: #ea4335;
  cursor: pointer;
}

.button-row > button:hover {
  color: white;
  border-color: white;
}
