.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header > h1 {
  color: white;
  font-size: 10vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-row > button {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background: none;
  width: 12vh;
  height: 5vh;
  margin: 5px;
  font-size: larger;
  color: white;
  cursor: pointer;
}